/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/autoload.php
/web/index.php
/web/update.php
/web/robots.txt
/web/.htaccess
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/README.md
/web/INSTALL.txt
/web/example.gitignore
/web/modules/README.txt
/web/profiles/README.txt
/web/themes/README.txt
/web/sites/README.txt
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/default/files/
/web/sites/default/settings.local.php
/recipes/README.txt
/.editorconfig
/.gitattributes
/.ddev/.dbimageBuild/
/.ddev/.webimageBuild/
/.ddev/.downloads/
/.ddev/.homeadditions/
/.ddev/.ssh-auth-compose.yaml
/.ddev/.router-compose.yaml
/.ddev/.web-cache/
/.ddev/.gitignore
/.ddev/config.local.yaml
