/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/web/autoload.php
/web/index.php
/web/update.php
/web/robots.txt
/web/.htaccess
/web/sites/README.txt
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/default/files/
/web/sites/default/settings.local.php
/.ddev/.dbimageBuild/
/.ddev/.webimageBuild/
/.ddev/.downloads/
/.ddev/.homeadditions/
/.ddev/.ssh-auth-compose.yaml
/.ddev/.router-compose.yaml
/.ddev/.web-cache/
/.ddev/.gitignore
/.ddev/config.local.yaml
